<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Nunjucks</title>
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <div class="container">
         <header> {% include "header1.html" %}</header>
         <nav> {% include "nav.html" %}</nav>
         <main>
          <nav aria-label="breadcrumb" > {{ ["home","cars","add"] | join(' > ') }}</nav>
               <h1>{{name}}</h1>
               <form action="/addcar" method="get">
                    <div class="mb3"><label>Car Name: <input autocomplete="off" type="text" name="name" required></label></div>
                    <div class="mb3"><label>Brand Name: <input autocomplete="off" type="text" name="brand" required></label></div>
                    <div class="mb3"><label>Body Type: 
                         <select name="type">
                              <option value="" selected disabled>--Choose Body Type--</option>
                              <option value="hatchback">Hatchback</option>
                              <option value="sedan">Sedan</option>
                              <option value="muv">Muv</option>
                              <option value="suv">Suv</option>
                         </select>
                    </label></div>
                    <div class="mb3"><label>Price: <input type="number" name="price" required></label></div>
                    <div class="mb3"><label>Fuel:
                         <select name="fuel">
                              <option value="" selected disabled>--Choose Fuel--</option>
                              <option value="petrol">Petrol</option>
                              <option value="diesel">Diesel</option>
                              <option value="cng">Cng</option>
                              <option value="electric">Electric</option>
                         </select>
                    </label></div>
                    <div class="mb3"><button type="submit">Submit</button></div>
               </form>
          </main>
          <footer> {% include "footer.html" %}</footer>
     </div>
</body>
</html>